.cover-photo-container {
  margin: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.book-container {
  display: flex;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.left-page {
  width: 200px;
  border: solid 1px;
  border-color: rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: rgba(0,0,0,0.5);
}

.right-page {
  width: 200px;
}

.button-container {
  margin: 20px;
}

button {
  height: 50px;
  font-size: 20px;
  color: green;
  border-radius: 5px;
  border-color: green;
  cursor: pointer;
}